In [ ]:
#Libraries
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [ ]:
dataFrame = pd.read_csv("Data/Churn_Modelling.csv") #Importing dataset
dataFrame

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [ ]:
dataFrame.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
dataFrame.drop(columns=["RowNumber","CustomerId","Surname"], inplace=True)
dataFrame.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [ ]:
dataFrame.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
#Encoding categorical columns
le= LabelEncoder()
dataFrame["Geography"]=le.fit_transform(dataFrame["Geography"])
dataFrame["Gender"]= le.fit_transform(dataFrame["Gender"])
print(dataFrame["Gender"])
print(dataFrame["Geography"])

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64
0       0
1       2
2       0
3       0
4       2
       ..
9995    0
9996    0
9997    0
9998    1
9999    0
Name: Geography, Length: 10000, dtype: int64

In [ ]:
x= dataFrame.iloc[:,:10].values 
y= dataFrame.iloc[:,-1].values

In [ ]:
#OneHotEncoding "Geography" column
ohe=ColumnTransformer([("ohe", OneHotEncoder(dtype=float),[1])], 
                      remainder="passthrough")
x=ohe.fit_transform(x)

In [ ]:
#Spliting dataset and Standardization data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=5)
sc= StandardScaler()
X_train= sc.fit_transform(x_train)
X_test= sc.fit_transform(x_test)

In [ ]:
X_train

array([[ 0.58539335, -0.58539335,  1.00119474, ...,  0.65488632,
        -1.02631631, -0.49076078],
       [ 0.58539335, -0.58539335,  1.00119474, ..., -1.52698257,
        -1.02631631,  1.59170218],
       [ 0.58539335, -0.58539335, -0.99880668, ...,  0.65488632,
         0.97435848, -0.34479182],
       ...,
       [ 0.58539335, -0.58539335,  1.00119474, ...,  0.65488632,
        -1.02631631, -1.50953432],
       [ 0.58539335, -0.58539335,  1.00119474, ..., -1.52698257,
         0.97435848,  1.26969153],
       [-1.7082531 ,  1.7082531 , -0.99880668, ...,  0.65488632,
        -1.02631631, -1.08036997]])

In [ ]:
#Creating Model
annClassifier= Sequential()
annClassifier.add(Dense(6, activation="relu"))
annClassifier.add(Dense(6, activation="relu"))
#output layer
annClassifier.add(Dense(1, activation="sigmoid"))

annClassifier.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
annClassifier.fit(X_train, y_train, batch_size= 50, epochs=100)

Epoch 1/100
134/134 [==============================] - 0s 998us/step - loss: 0.6174 - accuracy: 0.7097
Epoch 2/100
134/134 [==============================] - 0s 1ms/step - loss: 0.5086 - accuracy: 0.7955
Epoch 3/100
134/134 [==============================] - 0s 1ms/step - loss: 0.4711 - accuracy: 0.7963
Epoch 4/100
134/134 [==============================] - 0s 1ms/step - loss: 0.4510 - accuracy: 0.7963
Epoch 5/100
134/134 [==============================] - 0s 1ms/step - loss: 0.4359 - accuracy: 0.7963
Epoch 6/100
134/134 [==============================] - 0s 1ms/step - loss: 0.4231 - accuracy: 0.7979
Epoch 7/100
134/134 [==============================] - 0s 1ms/step - loss: 0.4095 - accuracy: 0.8066
Epoch 8/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3975 - accuracy: 0.8131
Epoch 9/100
134/134 [==============================] - 0s 984us/step - loss: 0.3887 - accuracy: 0.8170
Epoch 10/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3822 - accuracy: 0.8181
Epoch 11/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3775 - accuracy: 0.8197
Epoch 12/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3741 - accuracy: 0.8196
Epoch 13/100
134/134 [==============================] - 0s 996us/step - loss: 0.3714 - accuracy: 0.8204
Epoch 14/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3692 - accuracy: 0.8203
Epoch 15/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3674 - accuracy: 0.8201
Epoch 16/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3657 - accuracy: 0.8206
Epoch 17/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3646 - accuracy: 0.8290
Epoch 18/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3634 - accuracy: 0.8467
Epoch 19/100
134/134 [==============================] - 0s 995us/step - loss: 0.3622 - accuracy: 0.8493
Epoch 20/100
134/134 [==============================] - 0s 987us/step - loss: 0.3613 - accuracy: 0.8485
Epoch 21/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3605 - accuracy: 0.8488
Epoch 22/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3592 - accuracy: 0.8496
Epoch 23/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3589 - accuracy: 0.8510
Epoch 24/100
134/134 [==============================] - 0s 969us/step - loss: 0.3581 - accuracy: 0.8504
Epoch 25/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3574 - accuracy: 0.8501
Epoch 26/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3569 - accuracy: 0.8512
Epoch 27/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3559 - accuracy: 0.8522
Epoch 28/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3554 - accuracy: 0.8531
Epoch 29/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3551 - accuracy: 0.8524
Epoch 30/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8528
Epoch 31/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3537 - accuracy: 0.8551
Epoch 32/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3536 - accuracy: 0.8536
Epoch 33/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3523 - accuracy: 0.8543
Epoch 34/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.8569
Epoch 35/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3513 - accuracy: 0.8549
Epoch 36/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3505 - accuracy: 0.8561
Epoch 37/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8573
Epoch 38/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8578
Epoch 39/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3487 - accuracy: 0.8573
Epoch 40/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.8581
Epoch 41/100
134/134 [==============================] - 0s 985us/step - loss: 0.3480 - accuracy: 0.8597
Epoch 42/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8591
Epoch 43/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8604
Epoch 44/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8591
Epoch 45/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8604
Epoch 46/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8606
Epoch 47/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8604
Epoch 48/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8618
Epoch 49/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8622
Epoch 50/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8612
Epoch 51/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8607
Epoch 52/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3425 - accuracy: 0.8618
Epoch 53/100
134/134 [==============================] - 0s 995us/step - loss: 0.3423 - accuracy: 0.8613
Epoch 54/100
134/134 [==============================] - 0s 991us/step - loss: 0.3420 - accuracy: 0.8616
Epoch 55/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8622
Epoch 56/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8621
Epoch 57/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8634
Epoch 58/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8630
Epoch 59/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8627
Epoch 60/100
134/134 [==============================] - 0s 974us/step - loss: 0.3400 - accuracy: 0.8624
Epoch 61/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8642
Epoch 62/100
134/134 [==============================] - 0s 993us/step - loss: 0.3395 - accuracy: 0.8625
Epoch 63/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8642
Epoch 64/100
134/134 [==============================] - 0s 992us/step - loss: 0.3391 - accuracy: 0.8643
Epoch 65/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8642
Epoch 66/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8654
Epoch 67/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8627
Epoch 68/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8636
Epoch 69/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8624
Epoch 70/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8645
Epoch 71/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8649
Epoch 72/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8637
Epoch 73/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8639
Epoch 74/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8631
Epoch 75/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8658
Epoch 76/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8649
Epoch 77/100
134/134 [==============================] - 0s 999us/step - loss: 0.3364 - accuracy: 0.8651
Epoch 78/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8648
Epoch 79/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8630
Epoch 80/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 81/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8631
Epoch 82/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8639
Epoch 83/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8655
Epoch 84/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8628
Epoch 85/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8642
Epoch 86/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8637
Epoch 87/100
134/134 [==============================] - 0s 988us/step - loss: 0.3348 - accuracy: 0.8654
Epoch 88/100
134/134 [==============================] - 0s 992us/step - loss: 0.3347 - accuracy: 0.8643
Epoch 89/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8649
Epoch 90/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8639
Epoch 91/100
134/134 [==============================] - 0s 972us/step - loss: 0.3341 - accuracy: 0.8646
Epoch 92/100
134/134 [==============================] - 0s 988us/step - loss: 0.3339 - accuracy: 0.8645
Epoch 93/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8648
Epoch 94/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8633
Epoch 95/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8639
Epoch 96/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8631
Epoch 97/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8648
Epoch 98/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8646
Epoch 99/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8640
Epoch 100/100
134/134 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8636

In [ ]:
y_pred = annClassifier.predict(X_test)
y_pred

array([[0.04012001],
       [0.09045723],
       [0.11919066],
       ...,
       [0.02810419],
       [0.05606207],
       [0.07219261]], dtype=float32)

In [ ]:
y_pred= y_pred > 0.5
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
#Result
cm= confusion_matrix(y_test,y_pred)
cm

array([[2512,  116],
       [ 358,  314]])